body {}
h1 {
	font-family: "futura-pt", sans-serif;
	font-size: 26px;
	font-weight: 600;
	color: #000000;
}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {
	font-family: "futura-pt", sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 3;
}
p {
	font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
	font-size: 24px;
	line-height:1.5;
	color: #B1B1B1;
}
a {
	font-style: italic;
	text-decoration: none;
}
a:hover {
	color: #606060;
}

.wrapper {
	width: 60%;
	margin:0 auto;
}